<!doctype html>
<head>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    
    <!-- Site Meta -->
    <title>BasmaRa9i9a</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!-- Site Icons -->
    <link rel="shortcut icon" href="images/m.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">

	<!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet"> 

	<!-- Custom & Default Styles -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="css/carousel.css">
       	<link rel="stylesheet" href="css/style.css">
        



</head>
<div id="custom-bootstrap-menu" class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header"><a class="navbar-brand" href="/"></span></a><a class="navbar-brand" href="/"><img src="images\logo.png" alt=""></a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder"><span class="sr-only">T</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse navbar-menubuilder">
            
            <ul class="nav navbar-nav navbar-left">
                <li><a href="/" class="hvr-underline-reveal">Acceuil</a>
                 
                </li>
                <li><a href="/p-General" class="hvr-underline-reveal">Proramme Géneral</a>
                </li>
                <li><a href="/P-Pedaogique" class="hvr-underline-reveal">Programme Pédagogique</a>
                </li>
                <li><a href="/P-Fixe" class="hvr-underline-reveal">Programme Fixe</a>
                </li>
                </li>
                <li><a href="/connexion" class="hvr-underline-reveal">Connexion</a>
                </li>
            </ul>
        </div>
    </div>
</div>
    <div id="wrapper">  
    
    

    <div id="wrapper">

        <div id="home" class="video-section js-height-full">
            <div class="overlay"></div>
            <div class="home-text-wrapper relative container">
                <div class="home-message">
                    <img src="images/biglogo.png" alt="">
                    <p>Bienvenue</p>
                    <div class="btn-wrapper">
                        <!-- <div class="text-center">
                            <a href="#" class="btn btn-primary">Test1</a> &nbsp;<a href="#" class="btn btn-default">Test 2</a>
                        </div> -->
                    </div><!-- end row -->
                </div>
            </div>
        </div>
<!-- section activite -->
        <section class="section lb">
            <div class="container">
                <div class="section-title text-center">
                    <h3>Programme d'activite</h3>
                    <p> Le programme d'activités est fait de sorte que les jeunes puissent pratiquer un maximum de sports, participer à des ateliers et des activités de loisirs par groupe.</p>
                </div><!-- end title -->

                <div class="row text-center">
                    <div class="col-lg-4 col-md-12">
                        <div class="blog-box">
                            <div class="post-media">
                                <a href="#"><img src="images/upload/blog_01.jpg" alt="" class="img-responsive"></a>
                            </div><!-- end media -->

                            <div class="blog-desc">
                                <h4><a href="#">Activité sociale récréative</a></h4>
                                <p>Il est pratiqué à travers des voyages et des visites à l'intérieur et à l'extérieur de la région, ainsi que des rassemblements, des réunions internes et des compétitions sociales, y compris le service communautaire, la sensibilisation à la santé, la circulation et les consommateurs, et des campagnes d'hygiène à l'intérieur et à l'extérieur du camp.</p>
                            </div><!-- end blog-desc -->

                            <div class="post-meta">
                                <ul class="list-inline">
                                 
                                </ul>
                            </div><!-- end post-meta -->
                        </div><!-- end blog -->
                    </div><!-- end col -->

                    <div class="col-lg-4 col-md-12">
                        <div class="blog-box">
                            <div class="post-media">
                                <a href="#"><img src="images/upload/blog_02.jpg" alt="" class="img-responsive"></a>
                            </div><!-- end media -->

                            <div class="blog-desc">
                                <h4><a href="#">Activité sportive</a></h4>
                                <p>Il se pratique à travers des jeux et des habiletés, des entraînements sportifs, de fitness et de natation, et des compétitions de jeux individuels et de groupe, entre les bénéficiaires et les équipes qui composent le camp, et s'occupe également de la culture sportive et des lois du sport.</p>
                            </div><!-- end blog-desc -->
         <div class="post-meta">
                                <ul class="list-inline">
                                 
                                </ul>
                            </div><!-- end post-meta -->
                           
                        </div><!-- end blog -->
                    </div><!-- end col -->

                    <div class="col-lg-4 col-md-12">
                        <div class="blog-box">
                            <div class="post-media">
                                <a href="#"><img src="images/upload/blog_03.jpg" alt="" class="img-responsive"></a>
                            </div><!-- end media -->

                            <div class="blog-desc">
                                <h4><a href="#">Activité artistique</a></h4>
                                <p>Il est pratiqué à travers des programmes de chants éducatifs, du théâtre et de l'expression, du dessin, de l'art du moulage, de la danse et du chant, ainsi que des formations sur la décoration, les travaux et le façonnage avec du bois ou autres, et les bénéficiaires sont formés pour bénéficier des matériaux consommés dans l'environnement à ces fins. </p>
                            </div><!-- end blog-desc -->
         <div class="post-meta">
                                <ul class="list-inline">
                                 
                                </ul>
                            </div><!-- end post-meta -->
                            
                        </div><!-- end blog -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div>
        </section>    
<!-- section 4  slider -->
        <section class="section">
            <div class="container">
                    <div id="owl-01" class="owl-carousel owl-theme owl-theme-01">
                    <div class="item">
                        <img src="images/upload/work_03.jpg" alt="" class="img-responsive">
                     </div>

                    <div class="item">
                        <img src="images/upload/work_04.jpg" alt="" class="img-responsive">
                        
                    </div>

                    <div class="item">
                        <img src="images/upload/work_01.jpg" alt="" class="img-responsive">
                       
                    </div>

                    <div class="item">
                        <img src="images/upload/work_02.jpg" alt="" class="img-responsive">
                      
                    </div>
                </div>
            </div><!-- end container -->
        </section>


<!-- copyrights -->
        <div class="section copyrights">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3">
                        <div class="cop-logo">
                            <img src="images/logo.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9 text-right">
                        <div class="cop-links">
                            <ul class="list-inline">
                                <li>&copy; 2020 Basmara9i9a| Projet de Fin de Formation Java</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end wrapper -->

       

    <!-- jQuery Files -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/carousel.js"></script>
    <script src="js/parallax.js"></script>
    <script src="js/rotate.js"></script>
    <script src="js/custom.js"></script>
    <script src="js/masonry.js"></script>
    <script src="js/masonry-4-col.js"></script>
    <!-- VIDEO BG PLUGINS -->
    <script src="videos/libs/swfobject.js"></script> 
    <script src="videos/libs/modernizr.video.js"></script> 
    <script src="videos/libs/video_background.js"></script> 
    <script>
        jQuery(document).ready(function($) {
            var Video_back = new video_background($("#home"), { 
                "position": "absolute", //Follow page scroll
                "z-index": "-1",        //Behind everything
                "loop": true,           //Loop when it reaches the end
                "autoplay": true,       //Autoplay at start
                "muted": true,          //Muted at start
                "mp4":"videos/video.mp4" ,     //Path to video mp4 format
                "video_ratio": 1.7778,              // width/height -> If none provided sizing of the video is set to adjust
                "fallback_image": "images/dummy.png",   //Fallback image path
                "priority": "html5"             //Priority for html5 (if set to flash and tested locally will give a flash security error)
            });
        });
    </script>

</body>
</html>