<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   
	
	<!-- Site Icons -->
    <link rel="shortcut icon" href="images/m.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    
    <!-- Title Page-->

     <!-- Icons font CSS-->
    <link href="vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
     <link href="css/form.css" rel="stylesheet" media="all">
	<link href="css/styleform.css" rel="stylesheet" media="all">
<title>Insert Activite</title>
</head>
<body>
<nav>
  <ul>
    <li>Personne</li>
    <li>Moniteur</li>
    <li>bénéficiaire</li>
    <li>Fiche medicale</li>
    <li>Progamme Alimentaire</li>
  </ul>
</nav>
<div class="openNav">
  <div class="icon"></div>
</div>

<div class="wrapper">
           <div class="card card-4">
                    <div class="card-body">
                        <h2 class="title">Ajouter une activite</h2>

        <form action="#" th:action="@{/saveactivite}" th:object="${activite}"  method="post">
              
                         <div class="row row-space">
                           
	                              <div class="col-2">
	                                <div class="input-group">
	                                 <label class="label">Type d'activite :</label>
                                    <input class="input--style-4" type="text" name="Type_Activite" placeholder="Entrez le Type d'activite"  th:field="*{Type_Activite}"  required>
	                                </div>
                                  </div>
								<div class="col-2">
                                  <div class="input-group">
                                    
                                    <label class="label">Nom d'activite :</label>
                                    <input class="input--style-4" type="text" th:field="*{Nom_Activite}" placeholder="Entrez le Nom d'activite"  required>
                                  </div>
                              </div>      
		   				</div>
		   				<div class="row row-space">
                           
	                              <div class="col-2">
	                                <div class="input-group">
	                                 <label class="label">Outils :</label>
                                    <input class="input--style-4" type="text" name="Type_Activite" placeholder="Entrez l'outils"  th:field="*{Outils}"  required>
	                                </div>
                                  </div>
								<div class="col-2">
                                  <div class="input-group">
                                    
                                    <label class="label">Nombre des Participants :</label>
                                    <input class="input--style-4" type="number" th:field="*{nombre_Participants}" placeholder="0"  required>
                                  </div>
                              </div>      
		   				</div>
		   				<div class="row row-space">
                           
	                              <div class="col-2">
	                                <div class="input-group">
	                                 <label class="label">Objectif :</label>
                                    <input class="input--style-4" type="text" name="Type_Activite" placeholder="Entrez l'objectif d'activite" th:field="*{Objectif}"  required>
	                                </div>
                                  </div>
								<div class="col-2">
                                  <div class="input-group">
                                    
                                    <label class="label">Categorie Cible :</label>
                                    <input class="input--style-4" type="text" th:field="*{Categorie_Cible}" placeholder="Entrez le numero du CIN"  required>
                                  </div>
                              </div>      
		   				</div>
		   				<div class="row row-space">
                           
	                      <div class="col-2">
	                          <div class="input-group">
	                            <label class="label">Description :</label>
	                              <textarea id="address"  class="input--style-4" th:field="*{Description}"   rows="3" cols="40" required></textarea>
                                
	                          </div>
                            </div>
                        </div>    
                 <div class="p-t-15">
                    <button type="submit" class="btn btn-info" style="background-color: #c2d82e" >Enregistrer</button>
                 </div>
                   <a href="/affiche_activite">liste des activites </a>
                        <br />
                    <a href="/connexion" class="hvr-underline-reveal">Connexion</a>
         </form>
                </div>
            </div>
    </div>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

    <script src="js/menu_vertical.js"></script>

    <!-- Jquery JS-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <!-- Vendor JS-->
    <script src="vendor/select2/select2.min.js"></script>
    <script src="vendor/datepicker/moment.min.js"></script>
    <script src="vendor/datepicker/daterangepicker.js"></script>

    <!-- Main JS-->
    <script src="js/global-form.js"></script>
	
	
</body>
</html>