<!doctype html>
<!--[if IE 9]> <html class="no-js ie9 fixed-layout" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js " lang="en"> <!--<![endif]-->
<head>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    
    <!-- Site Meta -->
    <title>BasmaRa9i9a</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!-- Site Icons -->
    <link rel="shortcut icon" href="images/m.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">

	<!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet"> 

	<!-- Custom & Default Styles -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="css/carousel.css">
       	<link rel="stylesheet" href="css/style.css">
       

	

</head>
<div id="custom-bootstrap-menu" class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header"><a class="navbar-brand" href="/"></span></a><a class="navbar-brand" href="/"><img src="images\logo.png" alt=""></a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder"><span class="sr-only">T</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse navbar-menubuilder">
            
            <ul class="nav navbar-nav navbar-left">
                <li><a href="/" class="hvr-underline-reveal">Acceuil</a>
                 </li>
                <li><a href="/p-General" class="hvr-underline-reveal">Proramme Géneral</a>
                </li>
                <li><a href="/P-Pedaogique" class="hvr-underline-reveal">Programme Pédagogique</a>
                </li>
                <li><a href="/P-Fixe" class="hvr-underline-reveal">Programme Fixe</a>
                </li>
                </li>
                <li><a href="/connexion" class="hvr-underline-reveal">Connexion</a>
                </li>
            </ul>
        </div>
    </div>
</div>
    <div id="wrapper">  
    
    

    <div class="section bgcolor noover">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="section-title text-center">
                                        <h3><mark class="rotate">Programme Fixe</h3>
                                    </div>
                                </div><!-- end col -->
                            </div><!-- end row -->
                        </div><!-- end container -->
                    </div><!-- end section -->
                    <div>
                    <a class="navbar-brand" href="index.html"><img src="images\prfixe.PNG" alt=""></a></div>
            <!-- section table -->
                    <section class="section lb nopadtop noover">
                        <div class="container">
                          <div class="container-table">
                        <div class="wrap-table">
                            <div class="table ver1 m-b-110">
                                <div class="table-head">
                                    <table>
                                        <thead>
                                            <tr class="row100 head">
                                                <th class="cell100 column1">Heures</th>
                                                <th class="cell100 column2">Actvités</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                                <div class="table-body js-pscroll">
                                    <table>
                                        <tbody>
                                            <tr class="row100 body">
                                                
                                                <td class="cell100 column1">7:30</td>
                                                <td class="cell100 column2">Le réveil</td>
                                            </tr>

                                            <tr class="row100 body">
                                                <td class="cell100 column1">7:45</td>
                                                <td class="cell100 column2">L'assemblée du matin </td>
                                                
                                            </tr>

                                            <tr class="row100 body">
                                                <td class="cell100 column1">8:00</td>
                                                <td class="cell100 column2"> Le petit déjeuner</td>
                                            </tr>

                                            <tr class="row100 body">
                                                <td class="cell100 column1">8:30</td>
                                                <td class="cell100 column2">Les intérêts publics</td>
                                            </tr>

                                            <tr class="row100 body">
                                                <td class="cell100 column1">9:00</td>
                                                <td class="cell100 column2">Les intérêts particuliers</td>
                                            </tr>

                                            <tr class="row100 body">
                                                <td class="cell100 column1">9:30</td>
                                                <td class="cell100 column2">L'activité matinale</td>
                                            </tr>

                                            <tr class="row100 body">
                                                <td class="cell100 column1">13:00</td>
                                                <td class="cell100 column2">Le repas du midi</td>
                                            </tr>

                                            <tr class="row100 body">
                                                <td class="cell100 column1">14:00</td>
                                                <td class="cell100 column2">Temps libre</td>
                                            </tr>

                                            <tr class="row100 body">
                                                <td class="cell100 column1">15:30 </td>
                                                <td class="cell100 column2">Activité en soirée</td>
                                            </tr>


                                            <tr class="row100 body">
                                                <td class="cell100 column1">17:30</td>
                                                <td class="cell100 column2">Luminescence</td>
                                            </tr>

                                            <tr class="row100 body">
                                                <td class="cell100 column1">20:00</td>
                                                <td class="cell100 column2">Assemblée en soirée</td>
                                            </tr>

                                            <tr class="row100 body">
                                                <td class="cell100 column1">21:15</td>
                                                <td class="cell100 column2">Le dîner</td>
                                            </tr>

                                            <tr class="row100 body">
                                                <td class="cell100 column1">22:00</td>
                                                <td class="cell100 column2">Activité en soirée</td>
                                            </tr>

                                            <tr class="row100 body">
                                                <td class="cell100 column1">23:30</td>
                                                <td class="cell100 column2">Dormir</td>
                                            </tr>

                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                                </div><!-- end col -->
                            </div><!-- end row -->
                        </div><!-- end container -->
                    </section><!-- end section -->


    </div><!-- end menu-wrapper -->

    

<!-- copyrights -->
        <div class="section copyrights">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3">
                        <div class="cop-logo">
                            <img src="images/logo.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9 text-right">
                        <div class="cop-links">
                            <ul class="list-inline">
                                <li>&copy; 2020 Basmara9i9a| Projet de Fin de Formation Java</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end wrapper -->

       

    <!-- jQuery Files -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/carousel.js"></script>
    <script src="js/parallax.js"></script>
    <script src="js/rotate.js"></script>
    <script src="js/custom.js"></script>
    <script src="js/masonry.js"></script>
    <script src="js/masonry-4-col.js"></script>
    <!-- VIDEO BG PLUGINS -->
    <script src="videos/libs/swfobject.js"></script> 
    <script src="videos/libs/modernizr.video.js"></script> 
    <script src="videos/libs/video_background.js"></script> 
    <script>
        jQuery(document).ready(function($) {
            var Video_back = new video_background($("#home"), { 
                "position": "absolute", //Follow page scroll
                "z-index": "-1",        //Behind everything
                "loop": true,           //Loop when it reaches the end
                "autoplay": true,       //Autoplay at start
                "muted": true,          //Muted at start
                "mp4":"videos/video.mp4" ,     //Path to video mp4 format
                "video_ratio": 1.7778,              // width/height -> If none provided sizing of the video is set to adjust
                "fallback_image": "images/dummy.png",   //Fallback image path
                "priority": "html5"             //Priority for html5 (if set to flash and tested locally will give a flash security error)
            });
        });
    </script>

</body>
</html>