<!doctype html>
<head>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    
    <!-- Site Meta -->
    <title>BasmaRa9i9a</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!-- Site Icons -->
    <link rel="shortcut icon" href="images/m.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">

	<!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet"> 

	<!-- Custom & Default Styles -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/carousel.css">
    <link rel="stylesheet" href="css/style.css">
        



</head>
<div id="custom-bootstrap-menu" class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header"><a class="navbar-brand" href="/"></span></a><a class="navbar-brand" href="/"><img src="images\logo.png" alt=""></a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder"><span class="sr-only">T</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse navbar-menubuilder">
            
            <ul class="nav navbar-nav navbar-left">
                <li><a href="/" class="hvr-underline-reveal">Acceuil</a>
                 
                </li>
                <li><a href="/p-General" class="hvr-underline-reveal">Proramme Géneral</a>
                </li>
                <li><a href="/P-Pedaogique" class="hvr-underline-reveal">Programme Pédagogique</a>
                </li>
                <li><a href="/P-Fixe" class="hvr-underline-reveal">Programme Fixe</a>
                </li>
                </li>
                <li><a href="/connexion" class="hvr-underline-reveal">Connexion</a>
                </li>
            </ul>
        </div>
    </div>
</div>
    <div id="wrapper">  

  		 <!-- Page Programme general --> 
		<div class="section bgcolor noover">
		            <div class="container">
		                <div class="row">
		                    <div class="col-md-12">
		
		                        <div class="section-title text-center">
		                            <h3><mark class="rotate"> Programme General</h3>
		                        </div>
		                    </div><!-- end col -->
		                </div><!-- end row -->
		            </div><!-- end container -->
		        </div><!-- end section -->
	</div>

<!-- Image programme general-->
<section class="section lb">
              <div class="row">
                    <div class="col-md-12">
                        <div class="Programme  Pedagogique row with-desc">
                            <div class="post-media pitem item-w1 item-h1 cat1">
                                <div class="entry">
                                    <img src="images/pg.png" alt="" class="img-responsive">
                                    <p >le programme  générale  est Modifiable</p>
                                </div>
                               
                            </div>

                    </div>
                </div>
            </div>
        </section>
<!-- copyrights -->
        <div class="section copyrights">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3">
                        <div class="cop-logo">
                            <img src="images/logo.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9 text-right">
                        <div class="cop-links">
                            <ul class="list-inline">
                                <li>&copy; 2020 Basmara9i9a| Projet de Fin de Formation Java</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end wrapper -->

       

   
</body>
</html>